#container{
    display: flex;
    flex-wrap: wrap;
    width: 720px; /*(square width + gap + border) x 16*/
    gap: 3px;
}

.square{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}